.dress{
    height: 150px;  
    width: 150px;       ;
    padding-top: 10px;
    display: inline-block;
}
.card{
    height: 350px;
    width: 150px;
    border: 3px solid black;
    box-shadow: 3px 1px 20px 3px #c2c2a3 ;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    background-color: #e0e0d1;
}

.horcard{
    height: 250px;
    width: 570px;
    border: 2px solid black;
    box-shadow: 3px 1px 20px 3px #c2c2a3 ;
    display: inline-block;
    margin-right: 1px;
    margin-left: 50px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
     position: relative;
     top: -80px;
     color: white;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    } 
  .horimg{
   height: 160px;
   width: auto;
  }
  .hortext{
    font-size: 30px;
    margin-left: 5px;
  }

  .horbtn{
    background-color: black;
    color: whitesmoke;
    height: 50px;
    width: 200px;
    border-color: whitesmoke;
    border-radius: 10px;
  }
   .horbtn:hover
   {
    background-color: whitesmoke;
    color: black;
   }



.bgpage{
    background-color:  #d6d6c2;
    
}

.text{
    font-size: 15px;

text-align: center;}

.btn{
    background-color: black;
    color: whitesmoke;
    height: 40px;
    width: 150px;
    border-color: whitesmoke;
    border-radius: 10px;
}

    .heading{
        background-color: black;
        color: white;
        height: 300px;
        font-size: 50px;
        text-align: center;
        padding-top: 20px;
    }

  .headtext{
    
  }

  .headtext:hover
  {
    background-color: whitesmoke;
    color: black;
  }

   

  .bg{ 
        background-image: url(/images/home.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: auto;
        position: relative;
    }

   

    .edit{
        background-color: black;
        color: whitesmoke;
        height: 50px;
        width: auto;
        border-color: whitesmoke;
        border-radius: 10px;
        position: absolute;
   margin: 0 10px;
   padding: 10px 30px;
   right: 180px;
   bottom: 200px;
    }
    .edit:hover{
        background-color: whitesmoke;
        color: black;
    }

    .container{
 font-size: 20px;
 height: 50px;
 width: auto;
 text-align: center;
 background-color: black;
 color: whitesmoke;
 padding: 15px;
 padding-top: 50px;
 width: 400px;
 height: 200px;
 top: 100px;
 right: 100px;
 position: absolute;
 border-radius: 100px 0 50px 0;

  }

  .footer{
    background-color: black;
    color: white;
    height: 200px;
    font-size: 50px;
    position: relative;
  
  }

   