.dress{
    height: 150px;         
    padding-left: 15px;
    padding-top: 20px;
    display: inline-block;
}
.card{
    height: 380px;
    width: 150px;
    border: 2px solid black;
    box-shadow: 3px 1px 20px 3px #c2c2a3 ;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    background-color: #ffffcc;
}
.bgpage{
    background-color: #ffeb99;
}

.text{
    font-size: 15px;
margin-left: 11px;}

.btn{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 15px;}

    .heading{
        background-color: black;
        color: white;
        height: 200px;
        font-size: 50px;
        text-align: center;
        padding-top: 15px;
    }

    .btnh{
background-color:red;
padding-left: 5px;
    }

    .bg{
        background-image: url(/images/home.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: auto;
        position: relative;
    }

    .cardbg{
        height: 200vh;
   
    }


    .edit{
        background-color: black;
        color: whitesmoke;
        height: 50px;
        width: auto;
        border-color: whitesmoke;
        border-radius: 10px;
        position: absolute;
   margin: 0 10px;
   padding: 10px 30px;
   right: 180px;
   bottom: 200px;

    }

    .container{
 font-size: 20px;
 height: 50px;
 width: auto;
 text-align: center;
 background-color: black;
 color: whitesmoke;
 padding: 15px;
 padding-top: 50px;
 width: 400px;
 height: 200px;
 top: 100px;
 right: 100px;
 position: absolute;
 border-radius: 100px 0 50px 0;

    }

   